body {
  background-color: #0B367F;
  overflow: auto;
  padding-top: 70px;

}

.app   {
    background-color: #1967EE;


}


.brand {
  font-family: 'Montserrat', sans-serif;
  color: white;
}



.navbar {
  background-color: black;
  border-color: transparent;
}


legend  {
    font-family: 'Montserrat', sans-serif;
    color: white;
  }



p   {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;

}

#btn  {
  text-align: center;
}

.message  {
  height: 300px;
}



h1   {
  color: silver;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 50px;

  }



h2   {
   font-family: 'Yanone Kaffeesatz', sans-serif;
   color: silver;
   padding-left: 30px;
}




h3    {
  color: silver;
}



a {
    font-family: 'Montserrat', sans-serif;
    color: white;

}



.welcome  {
  padding: auto;
  text-align: center;
}


.nyt   {
    background-color: #1967EE;

}


#nyt    {
  padding-top: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  display: inline-block;

}


#nyt *    {
  display: inline-block;
  padding-left: 40px;
  padding-bottom: 20px;

}



.tweets {
  padding-top: 30px;
  padding-right: 20px;
  background-color: #1967EE;


}


#articles {
  font-size: 15px;

}


#times  {
padding-left: -20px;
font-size: 45px;

}

#sports  {
  padding-top: 20px;
}