<div class="container">

  <form action="/contact" method="POST" role="form">
    <legend>contact us</legend>

    <div class="form-group">
          <label class="label"><p>Your name</p></label>
          <input type="text" class="form-control" id="" placeholder="Name"><br />

          <label class="label"><p>Your Email</p></label>
          <input type="text" class="form-control" placeholder="Email"><br />

          <label class="label"><p>What is this about?</p></label>
          <input type="text" class="form-control" placeholder="Subject"><br />

          <label class="label"><p>How can we help you?</p></label>
          <textarea class="form-control message" placeholder="Your message"></textarea><br />
    </div>
        <div id="btn">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
  </form>

</div>




